<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Consulta de Transacciones
        </div>
        <div class="card-body">
          <form
            [formGroup]="searchForm"
            #ngSearchForm="ngForm"
            (ngSubmit)="doSearch()"
            novalidate
          >
            <div class="row">
              <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="startPicker"
                    placeholder="Fecha Inicial"
                    formControlName="FechaInicio"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                  <mat-error
                    *ngIf="searchForm.get('FechaInicio').hasError('required')"
                    >Campo Fecha es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="endPicker"
                    placeholder="Fecha Final"
                    formControlName="FechaFinal"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                  <mat-error
                    *ngIf="searchForm.get('FechaFinal').hasError('required')"
                    >Campo Fecha Fin es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-md-3 col-lg-2 col-xl-2">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Comercio"
                    formControlName="Comercio"
                  />
                  <mat-error
                    *ngIf="searchForm.get('Comercio').hasError('required')"
                    >Campo Comercio es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="searchForm.invalid"
                >
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="doReset()"
                  color="default"
                  style="margin-left: 5px;"
                >
                  <mat-icon>delete_sweep</mat-icon> Limpiar
                </button>
                <a
                  mat-raised-button
                  href="{{ urlDownload }}"
                  *ngIf="urlDownload != '#'"
                  style="margin-left: 5px;"
                  ><span class="material-icons">
                    cloud_download
                  </span>
                  Descargar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-12 mt-3">
      <app-alert></app-alert>
      <app-table-view
        #tableView
        [items]="items"
        [columns]="columns"
        [limit]="pageSize"
      ></app-table-view>
    </div>
  </div>
</div>
