<div class="">
    <h1 mat-dialog-title>Actualizar Datos CuentaHabiente</h1>
    <form [formGroup]="editAccountForm" (ngSubmit)="saveAccount()" novalidate>
      <div mat-dialog-content>          
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Número de Tarjeta</mat-label>
              <input type="text" matInput placeholder="Número de Tarjeta" formControlName="cardNumber" readonly />
              <mat-error *ngIf="editAccountForm.get('cardNumber').hasError('required')">El Campo Número de Tarjeta es Requerido.</mat-error>
              <mat-error *ngIf="editAccountForm.get('cardNumber').hasError('maxlength')">El Campo Número de Tarjeta debe Tener Máximo 16 Dígitos.</mat-error>
              <mat-error *ngIf="editAccountForm.get('cardNumber').hasError('minlength')">El Campo Número de Tarjeta debe Tener Mínimo 16 Dígitos.</mat-error>
            </mat-form-field> 
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field>
              <mat-label>Nombre(s)</mat-label>
              <input type="text" matInput placeholder="Nombre(s)" formControlName="firstName" />
              <mat-error *ngIf="editAccountForm.get('cardNumber').hasError('required')">El Campo Nombre es Requerido.</mat-error>              
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>Apellido Paterno</mat-label>
              <input type="text" matInput placeholder="Apellido Paterno" formControlName="lastName" />
              <mat-error *ngIf="editAccountForm.get('cardNumber').hasError('required')">El Campo Apellido Paterno es Requerido.</mat-error>              
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>Apellido Materno</mat-label>
              <input type="text" matInput placeholder="Apellido Materno" formControlName="secondName" />              
            </mat-form-field>              
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Correo Electrónico</mat-label>
              <input type="email" matInput placeholder="Correo Electrónico" formControlName="email" />              
            </mat-form-field> 
          </div>
          <div class="col-6">
            <mat-form-field>
                <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="birthday">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="editAccountForm.get('birthday').hasError('required');">Campo Fecha de Nacimiento es Requerido</mat-error>
            </mat-form-field>            
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Teléfono</mat-label>
              <input type="text" matInput placeholder="Teléfono" formControlName="phoneNumber" />              
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>Género</mat-label>
              <mat-select formControlName="genderId">
                <mat-option *ngFor="let item of genderList" [value]="item.IDSexo">{{item.Descripcion}}</mat-option>
              </mat-select>
            </mat-form-field>   
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Razón Social</mat-label>
              <input type="text" matInput placeholder="Razón Social" formControlName="businessName" />              
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field>
              <mat-label>RFC</mat-label>
              <input type="text" matInput placeholder="RFC" formControlName="rfc" />              
            </mat-form-field>
          </div>
        </div>
        <section>
          <mat-checkbox class="example-margin" formControlName="receiveSMS" color="primary">Recibir SMS</mat-checkbox>
        </section>
      </div>
      <mat-dialog-actions align="end">          
        <button class="text-center" mat-raised-button mat-dialog-close color="default">Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="editAccountForm.invalid"><mat-icon>save</mat-icon> Guardar</button>
      </mat-dialog-actions>
    </form>
  </div>