<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Generar Reporte Starbucks
        </div>
        <div class="card-body">
          <form class="form-search" [formGroup] = "searchForm" #frmSearch="ngForm" (ngSubmit)="doGenerateReport(searchForm)" novalidate >
            <div div class="row">
              <div class="col-xs-4 col-md-3 col-lg-3 col-xl-2">
                <mat-form-field>
                      <mat-label>Año</mat-label>
                      <mat-select formControlName="year" (selectionChange)="onChangeMonth()">
                        <mat-option  *ngFor="let item of years" [value]="item.id">
                        {{item.value}}
                      </mat-option>
                      </mat-select>
                      <mat-error *ngIf="searchForm.get('year').hasError('required')">Campo Año es Requerido</mat-error>
                </mat-form-field>                       
              </div>
              <div class="col-xs-4 col-md-3 col-lg-3 col-xl-2">
                <mat-form-field>
                  <mat-label>Mes</mat-label>
                  <mat-select formControlName="month" (selectionChange)="onChangeMonth()">
                    <mat-option *ngFor="let item of months" [value]="item.id">
                      {{item.value}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="searchForm.get('month').hasError('required')">Campo Mes es Requerido</mat-error>
                </mat-form-field>
              </div>      
              <div class="col-xs-4 col-md-3 col-lg-3 col-xl-2">
                <mat-form-field>
                  <mat-label>Dia</mat-label>
                  <mat-select formControlName="day">
                    <mat-option *ngFor="let item of days" [value]="item.id">
                      {{item.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>                                   
              <div class="col-xs-12 col-md-3 col-lg-3 col-xl-6 mt-2">
                <button mat-raised-button type="submit" color="primary" [disabled]="searchForm.invalid" >                      
                  <mat-icon>near_me</mat-icon> Generar Reporte
                </button>
                <button mat-raised-button type="button" (click)="doReset()" color="default" style="margin-left: 5px;"><mat-icon>delete_sweep</mat-icon> Limpiar</button>
              </div>      
            </div>
          </form>
        </div>
      </div>    
    </div>    
  </div>
  <div class="row-fluid mt-2">
    <div class="col-12">
      <app-alert></app-alert>
    </div>
  </div>
</div>
