<app-spinner [isVisible]="isVisible"></app-spinner>
<div class="wrapper-recover-password">
  <div class="recover-password-middle">
    <div class="content-recover-password">
      <mat-card>
        <mat-card-content>
            <div class="content-reset-password">
                <div class="recover-password-image">
                    <img src="../../../assets/logo.png"  height="120" width="120">
                </div>
                <form class="form-recover-password" [formGroup]="recoverPasswordForm" #ngRecoverPasswordForm="ngForm" (ngSubmit)="recoverPassword(recoverPasswordForm)" novalidate>                
                    <h4 class="text-center">Recuperar Contraseña</h4>
                    <div class="recover-password-control-input">
                        <mat-icon>email</mat-icon>
                        <mat-form-field class="recover-password-form-field">
                            <input matInput placeholder="Correo Electrónico" aria-label="Email" formControlName="email" />
                            <mat-error *ngIf="recoverPasswordForm.get('email').hasError('required')">Campo Correo Electrónico es Requerido.</mat-error>
                            <mat-error *ngIf="recoverPasswordForm.get('email').hasError('email')">Campo Correo Electrónico no Valido.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-12"><app-alert></app-alert></div>
                    </div>
                    <div class="text-center" style="margin-top:10px;">
                        <a mat-raised-button routerLink="/login" style="margin-right: 5px;">Login</a>
                        <button mat-raised-button type="submit" color="primary" [disabled]="recoverPasswordForm.invalid">Aceptar</button>                        
                    </div>
                </form>
            </div>         
        </mat-card-content>
      </mat-card>
    </div>
  </div>    
</div>