<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Reporte de Transacciones ALSEA
        </div>
        <div class="card-body">
          <form class="form-search" [formGroup] = "searchForm" #frmSearch="ngForm" (ngSubmit)="doSearch(searchForm)" novalidate >
            <div class="row">
              <div class="col-12 col-sm-3 col-md-4 col-lg-3 col-xl-2">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="searchForm.get('date').hasError('required');">Campo Fecha es Requerido</mat-error>
                </mat-form-field>
              </div>      
              <div class="col-12 col-sm-3 col-md-4 col-lg-3 col-xl-2">
                <mat-form-field>
                  <mat-label>Número de Autorización Banco</mat-label>
                  <input matInput placeholder="Número de Autorización" formControlName="authorization" />
                  <mat-error *ngIf="searchForm.get('authorization').hasError('required')">Campo Número de Autorización es Requerido</mat-error>
                </mat-form-field>
              </div>    
              <div class="col-12 col-sm-3 col-md-4 col-lg-3 col-xl-2">
                <mat-form-field>
                  <mat-label>Tarjeta Rewards</mat-label>
                  <input matInput placeholder="Tarjeta Rewards" formControlName="cardNumber" />
                  <mat-error *ngIf="searchForm.get('cardNumber').hasError('required')">Campo Tarjeta Rewards es Requerido</mat-error>
                  <mat-error *ngIf="searchForm.get('cardNumber').hasError('minlength')">Campo Tarjeta Rewards Minimo 16 Dígitos.</mat-error>
                  <mat-error *ngIf="searchForm.get('cardNumber').hasError('maxlength')">Campo Tarjeta Rewards Máximo 16 Dígitos.</mat-error>
                  <mat-error *ngIf="searchForm.get('cardNumber').hasError('pattern')">Campo Tarjeta Rewards es Númerico.</mat-error>
                </mat-form-field>
              </div>                                   
              <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mt-2">
                <button mat-raised-button type="submit" color="primary" [disabled]="searchForm.invalid" >                      
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button mat-raised-button type="button" (click)="doReset()" color="default" style="margin-left: 5px;"><mat-icon>delete_sweep</mat-icon> Limpiar</button>
              </div>      
            </div>
          </form>
          <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <div class="content-block">
                  <span class="default-block"></span>
                  <span>Aprobada</span> 
              </div>              
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <div class="content-block">
                <span class="red-block"></span>
                <span>Rechazada por Banco</span> 
              </div>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <div class="content-block">
                <span class="orange-block"></span>
                <span>Rechazada por VLINK</span> 
              </div>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <div class="content-block">
                <span class="blue-block"></span>
                <span>Reversada</span> 
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>    
  </div>
  <div class="row-fluid mt-2">
    <div class="col-12">
      <app-alert></app-alert>
      <app-table-view #tableView [items]="items" [columns]="columns" [limit]="pageSize" [cellClass]="getCellClass"></app-table-view>
    </div>
  </div>
</div>
