
.card-default .card-header{
    background-color: #005c43 !important;
    color: #fff !important
}
mat-form-field {
    width: 100%;
}

:host ::ng-deep {
    .datatable-body-cell.default-text .datatable-body-cell-label span{
        display: block;
        background-color: #ffffff !important;
        border: 1px solid #ccc;
        width: 20px;
        height: 20px;
    }

    .datatable-body-cell.red-text .datatable-body-cell-label span{
        display: block;
        background-color: #f70000 !important;
        width: 20px;
        height: 20px;
    }

    .datatable-body-cell.blue-text .datatable-body-cell-label span{
        display: block;
        background-color: #0000ff !important;
        width: 20px;
        height: 20px;
    }

    .datatable-body-cell.orange-text .datatable-body-cell-label span{
        display: block;
        background-color: #ff8000  !important;
        width: 20px;
        height: 20px;
    }
} 

.content-block{
    display: flex;
    margin: 0;
    align-content: center;
    align-items: center;
}

.content-block span{
    margin: 5px;
}

.default-block {
    display: block;
    background-color: #ffffff !important;
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
}

.red-block {
    display: block;
    background-color: #f70000 !important;
    width: 20px;
    height: 20px;
}

.orange-block {
    display: block;
    background-color: #ff8000 !important;
    width: 20px;
    height: 20px;
}

.blue-block {
    display: block;
    background-color: #0000ff !important;
    width: 20px;
    height: 20px;
}