<div class="edit-user-container">
  <h3 mat-dialog-title>Detalle Usuario</h3>
  <form [formGroup]="editUserForm">
    <div mat-dialog-content>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input type="text" matInput placeholder="Usuario" arial-label="Usuario" formControlName="username" readonly>
          <mat-error *ngIf="editUserForm.get('username').hasError('required')">Campo Status es Requerido</mat-error> 
        </mat-form-field>  
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Nombre" arial-label="Nombre" formControlName="name" readonly>
            <mat-error *ngIf="editUserForm.get('name').hasError('required')">Campo Status es Requerido</mat-error>
          </mat-form-field>  
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="Email" arial-label="Email" formControlName="email" readonly>
          <mat-error *ngIf="editUserForm.get('email').hasError('required')">Campo Email es Requerido</mat-error>
        </mat-form-field> 
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Estatus</mat-label>
          <input type="text" matInput placeholder="Estatus" arial-label="Estatus" formControlName="status" readonly>
          <mat-error *ngIf="editUserForm.get('status').hasError('required')">Campo Status es Requerido</mat-error>
        </mat-form-field>  
      </div>
    </div>
    <div mat-dialog-actions class="text-right">
      <button mat-raised-button color="primary" mat-dialog-close>Aceptar</button>
    </div>
  </form>
</div>
  