<app-spinner [isVisible]="spinnerVisible"></app-spinner>
<div class="content-edit-card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-2">
        <h4 class="text-center">Editar Tarjeta</h4>
        <hr>
        <form [formGroup]="editCardForm" (ngSubmit)="doSave(editCardForm)" novalidate>
          <div class="row">
            <div class="col-3">
              <mat-form-field>
                <mat-label>Número de Tarjeta</mat-label>
                <input type="text" matInput placeholder="Número de Tarjeta" formControlName="cardNumber" readonly />
                <mat-error *ngIf="editCardForm.get('cardNumber').hasError('required')">El Campo Número de Tarjeta es Requerido.</mat-error>
                <mat-error *ngIf="editCardForm.get('cardNumber').hasError('maxlength')">El Campo Número de Tarjeta debe Tener Máximo 16 Dígitos.</mat-error>
                <mat-error *ngIf="editCardForm.get('cardNumber').hasError('minlength')">El Campo Número de Tarjeta debe Tener Mínimo 16 Dígitos.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-label>Estatus</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let item of statusList" [value]="item.id">{{item.value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="editCardForm.get('status').hasError('required')">El Campo Estatus es Requerido.</mat-error>
              </mat-form-field>        
            </div>      
            <div class="col-3 mt-2">
              <button type="submit" mat-raised-button color="primary" [disabled]="editCardForm.invalid"><mat-icon>save</mat-icon> Guardar</button>
            </div> 
          </div>
        </form>
      </div>
    </div>
  </div>   
</div>