.card-default .card-header{
    background-color: #005c43 !important;
    color: #fff !important
}
mat-form-field {
    width: 100%;
}
:host ::ng-deep .mat-tab-body-content{
    overflow: hidden !important;
}