<app-spinner [isVisible]="showSpinner"></app-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Buscador
        </div>
        <div class="card-body">
          <form
            class="form-search"
            [formGroup]="searchForm"
            #ngSearchForm="ngForm"
            (ngSubmit)="doSearch()"
            novalidate
          >
            <div class="row">
              <div class="col-3">
                <mat-form-field>
                  <mat-label>Número Tarjeta / EAN</mat-label>
                  <input
                    matInput
                    placeholder="Número Tarjeta / EAN"
                    formControlName="cardNumber"
                  />
                  <mat-error
                    *ngIf="searchForm.get('cardNumber').hasError('required')"
                    >El campo Número de Tarjeta / EAN es Requerido</mat-error
                  >
                  <mat-error
                    *ngIf="searchForm.get('cardNumber').hasError('pattern')"
                    >Campo Número de Tarjeta / EAN es Númerico.</mat-error
                  >
                  <mat-error
                    *ngIf="searchForm.get('cardNumber').hasError('minlength')"
                    >El campo Número de Tarjeta / EAN Mínimo 13
                    Caracteres</mat-error
                  >
                  <mat-error
                    *ngIf="searchForm.get('cardNumber').hasError('maxlength')"
                    >El campo Número de Tarjeta / EAN Máximo 16
                    Caracteres</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="startPicker"
                    placeholder="Fecha Inicial"
                    formControlName="startDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                  <mat-error
                    *ngIf="searchForm.get('startDate').hasError('required')"
                    >Campo Fecha es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="endPicker"
                    placeholder="Fecha Final"
                    formControlName="endDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                  <mat-error
                    *ngIf="searchForm.get('endDate').hasError('required')"
                    >Campo Fecha es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-3">
                <div class="form-actions mt-2">
                  <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    [disabled]="searchForm.invalid"
                  >
                    <mat-icon>search</mat-icon> Buscar
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    (click)="resetForm()"
                    style="margin-left: 5px;"
                  >
                    <mat-icon>delete_sweep</mat-icon> Limpiar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
      <app-alert></app-alert>
      <div id="content" *ngIf="record != null" style="width: 100%;">
        <mat-tab-group>
          <mat-tab label="Datos Generales">
            <div class="content-card-information mt-2">
              <h4 class="text-center">Información General</h4>
              <hr />
              <table class="table">
                <tbody>
                  <tr>
                    <td><strong>Número Tarjeta</strong></td>
                    <td>{{ record.Tarjeta }}</td>
                  </tr>
                  <tr>
                    <td><strong>EAN</strong></td>
                    <td>{{ record.EAN }}</td>
                  </tr>
                  <tr>
                    <td><strong>Fecha Vigencia</strong></td>
                    <td>{{ record.FechaVigencia | date: "dd/MM/yyyy" }}</td>
                  </tr>
                  <tr>
                    <td><strong>Estatus Tarjeta</strong></td>
                    <td>{{ record.EstatusTarjeta }}</td>
                  </tr>
                  <tr>
                    <td><strong>Saldo</strong></td>
                    <td>{{ record.Saldo }}</td>
                  </tr>
                  <tr>
                    <td><strong>Saldo Inicial</strong></td>
                    <td>{{ record.SaldoInicial }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Movimientos">
            <div class="content-card-history mt-2">
              <h4 class="text-center">Movimientos</h4>
              <hr />
              <app-table-view
                #tableView
                [items]="items"
                [columns]="columns"
                [limit]="pageSize"
              ></app-table-view>
            </div>
          </mat-tab>
          <mat-tab label="Estatus Tarjeta">
            <div
              class="content-status-card mt-2"
              style="margin-left: auto; margin-right: auto;box-sizing: border-box"
            >
              <div class="row">
                <div class="col-12">
                  <h4 class="text-center">Actualizar Estatus Tarjeta</h4>
                  <hr />
                </div>
                <div class="col-6 offset-md-3">
                  <form
                    [formGroup]="cardStatusForm"
                    (ngSubmit)="updateCardStatus()"
                    novalidate
                  >
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field>
                          <mat-label>Estatus</mat-label>
                          <mat-select formControlName="statusId">
                            <mat-option
                              *ngFor="let item of statusList"
                              [value]="item.IdStatusTarjeta"
                              >{{ item.ServStatusTarjetaicio }}</mat-option
                            >
                          </mat-select>
                          <mat-error
                            *ngIf="
                              cardStatusForm
                                .get('statusId')
                                .hasError('required')
                            "
                            >El Campo Estatus es Requerido.</mat-error
                          >
                        </mat-form-field>
                      </div>
                      <div class="col-6 mt-2">
                        <button
                          type="submit"
                          mat-raised-button
                          color="primary"
                          [disabled]="cardStatusForm.invalid"
                        >
                          <mat-icon>save</mat-icon> Guardar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Vigencia Tarjeta">
            <div
              class="content-status-card mt-2"
              style="margin-left: auto; margin-right: auto;box-sizing: border-box"
            >
              <div class="row">
                <div class="col-12">
                  <h4 class="text-center">Actualizar Vigencia Tarjeta</h4>
                  <hr />
                </div>
                <div class="col-6 offset-md-3">
                  <form
                    [formGroup]="cardExpiredForm"
                    (ngSubmit)="updateCardExpired()"
                    novalidate
                  >
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field>
                          <mat-label>Fecha</mat-label>
                          <input
                            matInput
                            [matDatepicker]="datePicker"
                            placeholder="Fecha"
                            formControlName="newDate"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="datePicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #datePicker></mat-datepicker>
                          <mat-error
                            *ngIf="
                              cardExpiredForm
                                .get('newDate')
                                .hasError('required')
                            "
                            >El Campo Fecha es Requerido.</mat-error
                          >
                        </mat-form-field>
                      </div>
                      <div class="col-6 mt-2">
                        <button
                          type="submit"
                          mat-raised-button
                          color="primary"
                          [disabled]="cardExpiredForm.invalid"
                        >
                          <mat-icon>save</mat-icon> Guardar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
