<h1 mat-dialog-title>Agregar Agente</h1>
<form [formGroup]="addAgentForm" (ngSubmit)="insertAgent()" novalidate>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Agente/Comercio</mat-label>
      <input
        matInput
        placeholder="Agente/Comercio"
        formControlName="commerceNumber"
      />
      <mat-error *ngIf="addAgentForm.get('commerceNumber').hasError('required')"
        >Campo Agente/Comercio es Requerido.</mat-error
      >
      <mat-error
        *ngIf="addAgentForm.get('commerceNumber').hasError('maxlength')"
        >Campo Agente/Comercio Acepta 15 Dígitos.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre Comercio</mat-label>
      <input
        matInput
        placeholder="Nombre Comercio"
        formControlName="commerceName"
      />
      <mat-error *ngIf="addAgentForm.get('commerceName').hasError('required')"
        >Campo Nombre Comercio es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo Electrónico</mat-label>
      <input
        matInput
        placeholder="Correo Electrónico"
        formControlName="email"
      />
      <mat-error *ngIf="addAgentForm.get('email').hasError('required')"
        >Campo Correo Electrónico es Requerido.</mat-error
      >
      <mat-error *ngIf="addAgentForm.get('email').hasError('email')"
        >Campo Correo Electrónico Formato Incorrecto.</mat-error
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button
      class="text-center"
      mat-raised-button
      mat-dialog-close
      color="default"
    >
      Cancelar
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="addAgentForm.invalid"
    >
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</form>
<div>
  <app-alert></app-alert>
</div>
