<h1 mat-dialog-title>Variables de Profundidad</h1>
<form [formGroup]="variableForm" (ngSubmit)="saveVariable()" novalidate>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Programa:</mat-label>
      <input matInput placeholder="Programa:" formControlName="Programa" />
      <mat-error *ngIf="variableForm.get('Programa').hasError('required')"
        >Campo Programa es Requerido.</mat-error
      >
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button
      class="text-center"
      mat-raised-button
      mat-dialog-close
      color="default"
    >
      Cancelar
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="variableForm.invalid"
    >
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</form>
