<div class="content-general-info">
  <div class="row-fluid mt-2">    
    <div class="col-12">
        <h4 class="text-center">Datos Generales</h4>
        <hr>
    </div>
    <div class="col-12">
        <form [formGroup]="dataForm" novalidate>
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>Número de Tarjeta</mat-label>
                <input matInput placeholder="Número de Tarjeta" formControlName="cardNumber">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label>Estatus Tarjeta</mat-label>
                <input matInput placeholder="Número de Tarjeta" formControlName="statusCard">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="firstName">
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Apellido Paterno</mat-label>
                <input matInput placeholder="Apellido Paterno" formControlName="lastName">
              </mat-form-field>              
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Apellido Materno</mat-label>
                <input matInput placeholder="Apellido Materno" formControlName="secondName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-form-field>
                <mat-label>Fecha Nacimiento</mat-label>
                <input matInput placeholder="Fecha Nacimiento" formControlName="birthdate">
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>              
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="Teléfono" formControlName="phoneNumber">
              </mat-form-field>              
            </div>
          </div>
          <div class="row">
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Segmento</mat-label>
                    <input matInput placeholder="Segmento" formControlName="segmentName">
                  </mat-form-field>            
            </div>
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Fecha de Registro</mat-label>
                    <input matInput placeholder="Fecha de Registro" formControlName="dateAdd">
                  </mat-form-field>            
            </div>
          </div>
          <div class="row">
            <div class="col-12">    
              <button type="button" mat-raised-button color="primary" (click)="onShowDialog()"><mat-icon>edit</mat-icon> Editar</button>          
            </div>
          </div>
        </form>
  </div>    
  </div>
  <div class="row-fluid mt-2">
    <div class="col-12">
      <h5 class="text-center">Lista de Referencias</h5>
      <hr>
    </div>
    <div class="col-12" *ngIf="items.length <= 0">
      <div class="alert alert-success" role="alert">
        No hay Resultados.
      </div>
    </div>
    <div class="col-6 offset-md-3" *ngIf="items">      
      <app-table-view [items]="items" [columns]="columns" [limit]="pageSize"></app-table-view>
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template #actionCellTemplate>
        <div class="row-container">
            <div>
              <button mat-raised-button color="primary" (click)="deactivateReference(row)"><mat-icon>toggle_off</mat-icon> Desactivar </button>              
            </div>
        </div>
    </ng-template>
    </div> 
  </div>
</div>
