<h1 mat-dialog-title class="text-left">Configuración Roles {{ titleUser }}</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          cdkDropList
          #rol="cdkDropList"
          [cdkDropListConnectedTo]="[confirm]"
          [cdkDropListData]="roles"
          (cdkDropListDropped)="drop($event, 1)"
          class="content-list"
        >
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <h5 class="text-center">Roles Disponibles</h5>
            </li>
            <li class="list-group-item" *ngFor="let rol of roles" cdkDrag>
              {{ rol.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div
          cdkDropList
          #confirm="cdkDropList"
          [cdkDropListData]="userRoles"
          [cdkDropListConnectedTo]="[rol]"
          (cdkDropListDropped)="drop($event, 2)"
          class="content-list"
        >
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <h5 class="text-center">Mis Roles</h5>
            </li>
            <li class="list-group-item" *ngFor="let rol of userRoles" cdkDrag>
              {{ rol.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h5 class="text-center"><strong>Rol Campaign Manager</strong></h5>
      </div>
      <div class="col-6">
        <div
          cdkDropList
          #rolCampaign="cdkDropList"
          [cdkDropListConnectedTo]="[confirmRolCampaign]"
          [cdkDropListData]="rolesCampaign"
          (cdkDropListDropped)="drop($event, 1, 2)"
          class="content-list"
        >
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <h5 class="text-center">Roles Disponibles</h5>
            </li>
            <li
              class="list-group-item"
              *ngFor="let rol of rolesCampaign"
              cdkDrag
            >
              {{ rol.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div
          cdkDropList
          #confirmRolCampaign="cdkDropList"
          [cdkDropListData]="userRolesCampaign"
          [cdkDropListConnectedTo]="[rolCampaign]"
          (cdkDropListDropped)="drop($event, 2, 2)"
          class="content-list"
        >
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <h5 class="text-center">Mis Roles</h5>
            </li>
            <li
              class="list-group-item"
              *ngFor="let rol of userRolesCampaign"
              cdkDrag
            >
              {{ rol.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button
    class="text-center"
    mat-raised-button
    mat-dialog-close
    color="primary"
  >
    Aceptar
  </button>
</div>
