<h1 mat-dialog-title>Editar Agente</h1>
<form [formGroup]="agentForm" (ngSubmit)="update()" novalidate>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput placeholder="Nombre" formControlName="fullname" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo Electrónico:</mat-label>
      <input
        matInput
        placeholder="Correo Electrónico:"
        formControlName="email"
      />
      <mat-error *ngIf="agentForm.get('email').hasError('required')"
        >Campo Correo Electrónico es Requerido.</mat-error
      >
      <mat-error *ngIf="agentForm.get('email').hasError('email')"
        >Campo Correo Electrónico Formato Incorrecto.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estatus:</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let item of statusList" [value]="item.id">{{
          item.value
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button
      class="text-center"
      mat-raised-button
      mat-dialog-close
      color="default"
    >
      Cancelar
    </button>
    <button type="submit" mat-raised-button color="primary">
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</form>
<div>
  <app-alert></app-alert>
</div>
