<app-spinner [isVisible]="isVisible"></app-spinner>
<div class="wrapper-change-password">
  <div class="change-password-middle">
    <div class="content-change-password">
      <mat-card>
        <mat-card-content>
            <div class="content-change-password"  *ngIf="showPanel">
                <div class="change-password-image">
                    <img src="../../../assets/logo.png"  height="120" width="120">
                </div>
                <form class="form-change-password" autocomplete="off" [formGroup]="changePasswordForm" #ngChangePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)" novalidate>                
                    <h4 class="text-center">Cambiar Contraseña</h4>
                    <div class="row mt-5">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Nueva Contraseña:</mat-label>
                                <input type="password" matInput autocomplete="off" placeholder="Nueva Contraseña:" formControlName="password"/> 
                                <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">Contraseña es Requerido.</mat-error>
                                <mat-error *ngIf="changePasswordForm.get('password').hasError('minlength');">Contraseña Mínimo 6 Dígitos.</mat-error>
                                <mat-error *ngIf="changePasswordForm.get('password').hasError('maxlength');">Contraseña Máximo 20 Dígitos.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Repita Nueva Contraseña:</mat-label>
                                <input type="password" matInput autocomplete="off" placeholder="Repita Nueva Contraseña:" formControlName="confirmPassword"/> 
                                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">Repita Contraseña es Requerido.</mat-error>
                                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('minlength');">Repita Contraseña Mínimo 6 Dígitos.</mat-error>
                                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('maxlength');">Repita Contraseña Máximo 20 Dígitos.</mat-error>
                                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('mustMatch')">Repita Contraseña no es igual a Contraseña.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="text-center" style="margin-top:10px;">
                        <a mat-raised-button routerLink="/login" style="margin-right: 5px;">Login</a>
                        <button mat-raised-button type="submit" color="primary" [disabled]="changePasswordForm.invalid">Aceptar</button>                        
                    </div>
                </form>
            </div>   
            <div class="content-message"  *ngIf="!showPanel">
                <h5 class="text-center" style="color: #757575;">Se ha Actualizado la Contraseña Correctamente.</h5>            
                <div class="text-center mt-3">
                    <a routerLink="/login" mat-raised-button color="success">Aceptar</a>
                </div>    
            </div>      
        </mat-card-content>
      </mat-card>
    </div>
  </div>    
</div>