.wrapper-change-password {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  
  .change-password-middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
  }
  
  .content-change-password{  
      max-width: 380px;
      margin: 0 auto;
      background-color: #fff; 
  }
  
  .change-password-form-field {
    display: flex;
    margin-left:10px;
    width:100%;
  }
  
  .change-password-control-input{
    flex-direction: row;
    box-sizing: border-box;
    display:flex;
    place-content: center flex-start;
    align-items: center;
    margin-top: 32px;
    width: 100%;
    
  }
  ::ng-deep .mat-form-field-wrapper{
    width: 100%;
  }
  .change-password-image{
    text-align: center;
  }
  .change-password-error{
    color: red;
  }

  mat-form-field {
    width: 100%;
}