<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Consulta Usuarios
        </div>
        <div class="card-body">
          <form
            class="form-search"
            [formGroup]="searchForm"
            #ngSearchForm="ngForm"
            (ngSubmit)="doSearch()"
            novalidate
          >
            <div class="row">
              <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
                <mat-form-field>
                  <mat-label>Texto</mat-label>
                  <input
                    matInput
                    placeholder="Texto"
                    formControlName="fulltext"
                  />
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-md-9 col-lg-9 col-xl-9 mt-2">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="searchForm.invalid"
                >
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="doReset()"
                  color="default"
                  style="margin-left: 5px;"
                >
                  <mat-icon>delete_sweep</mat-icon> Limpiar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="addUser()"
                  color="primary"
                  style="margin-left: 5px;"
                >
                  <mat-icon>add</mat-icon> Agregar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <app-alert></app-alert>
    </div>
    <div class="col-12">
      <app-table-view
        [items]="items"
        [columns]="columns"
        [limit]="pageOfSize"
      ></app-table-view>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-cell-template
        #actionCellTemplate
      >
        <div class="row-container">
          <div>
            <button mat-raised-button color="primary" (click)="addRol(row)">
              <mat-icon>settings</mat-icon> Roles
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="addVariable(row)"
              style="margin-left: 5px;;"
            >
              <mat-icon>settings</mat-icon> Variables
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
