.card-default .card-header{
    background-color: #005c43 !important;
    color: #fff !important
}
mat-form-field {
    width: 100%;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }