<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid ">
   
    <div class="col-xs-12 col-md-8 col-lg-8 col-xl-8 mt-5 offset-md-2">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
          <app-alert></app-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">         
          <mat-tab-group>
            <mat-tab label="Generar Lote de Tarjetas"> 
              <div class="row-fluid">
                <div class="col-xs-12 col-md-8 col-lg-8 col-xl-8 mt-5 offset-md-2">
                    <div class="card card-default mt-5">
                        <div class="card-header">Validar Archivos</div>
                        <div class="card-body">
                          <form [formGroup]="fileForm" #ngFileForm="ngForm" (ngSubmit)="generateFile()" novalidate>
                            <div class="row">
                              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                  <mat-label>Programa:</mat-label>
                                  <mat-select formControlName="programId">
                                    <mat-option *ngFor="let item of programList" [value]="item.IdEmisor">{{item.RazonSocial}}</mat-option>                
                                  </mat-select>
                                  <mat-error *ngIf="fileForm.get('programId').hasError('required')">Campo Programa es Requerido.</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                  <mat-label>Tipo Archivo:</mat-label>
                                  <mat-select formControlName="typeLotId">
                                    <mat-option *ngFor="let item of typeLotList" [value]="item.IdTipoLote">{{item.Descripcion}}</mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="fileForm.get('typeLotId').hasError('required')">Campo Tipo Archivo es Requerido.</mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            <mat-form-field>
                              <mat-label>Nombre Genérico de las Tarjetas:</mat-label>
                              <input matInput type="text" placeholder="Nombre Genérico de las Tarjetas:" formControlName="nameCard" />
                              <mat-error *ngIf="fileForm.get('nameCard').hasError('required')">Campo Nombre Genérico es Requerido.</mat-error>
                              <mat-error *ngIf="fileForm.get('nameCard').hasError('pattern')">Campo Comercio Incorrecto.</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                              <mat-label>Descripción Lote:</mat-label>
                              <input matInput type="text" placeholder="Descripción Lote:" formControlName="description" />
                              <mat-error *ngIf="fileForm.get('description').hasError('required')">Campo Descripción Lote es Requerido.</mat-error>
                            </mat-form-field>                            
                            <div class="row">
                              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                  <mat-label>Grupo Tarjetas:</mat-label>
                                  <mat-select formControlName="groupId" >
                                    <mat-option *ngFor="let item of segmentList" [value]="item.IdSegmento">{{item.Descripcion}}</mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="fileForm.get('groupId').hasError('required')">Campo Grupo Tarjetas es Requerido.</mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                                <mat-form-field>
                                  <mat-label>Cantidad Tarjetas:</mat-label>
                                  <input matInput type="text" placeholder="Cantidad Tarjetas:" formControlName="amountCard" />
                                  <mat-error *ngIf="fileForm.get('amountCard').hasError('required')">Campo Cantidad Tarjetas es Requerido.</mat-error>
                                  <mat-error *ngIf="fileForm.get('amountCard').hasError('pattern')">Campo Cantidad Tarjetas es Númerico.</mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            <mat-form-field>
                              <mat-label>Estatus:</mat-label>
                              <mat-select formControlName="statusCardId">             
                                <mat-option *ngFor="let item of statusList" [value]="item.IdEstatusTarjeta">{{item.Descripcion}}</mat-option>   
                              </mat-select>
                              <mat-error *ngIf="fileForm.get('statusCardId').hasError('required')">Campo Estatus es Requerido.</mat-error>
                            </mat-form-field>
                            <section class="example-section">
                              <mat-checkbox class="example-margin" color="primary" formControlName="isTest" >Prueba</mat-checkbox>
                            </section>
                            <div class="row">
                              <div class="col-12">
                                <div class="form-actions" align="end">
                                    <button mat-raised-button type="button" color="default" (click)="reset()" style="margin-right: 5px;">Cancelar</button>
                                    <button mat-raised-button type="submit" color="primary" [disabled]="fileForm.invalid"><mat-icon>cloud_upload</mat-icon> Generar</button>
                                </div>                
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
              </div>            
            </mat-tab>
            <mat-tab label="Descargar Lote de Tarjetas">
              <app-download-card-lot></app-download-card-lot>
            </mat-tab>
          </mat-tab-group>    
        </div>
      </div>  
    </div>
  </div>
</div>