<h1 mat-dialog-title>Variables de Profundidad</h1>
<form [formGroup]="vpfForm" (ngSubmit)="saveData()" novalidate>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Corporativo:</mat-label>
      <input matInput placeholder="corporativo" formControlName="corporate" />
      <mat-error *ngIf="vpfForm.get('corporate').hasError('required')">Campo Corporativo es Requerido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Región:</mat-label>
      <input matInput placeholder="Region" formControlName="region" />
      <mat-error *ngIf="vpfForm.get('region').hasError('required')">Campo Región es Requerido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gerencia:</mat-label>
      <input matInput placeholder="Gerencia" formControlName="management" />
      <mat-error *ngIf="vpfForm.get('management').hasError('required')">Campo Gerencia es Requerido.</mat-error>
    </mat-form-field>
    <div class="">
      <mat-checkbox color="primary" formControlName="administrator">Administrador:</mat-checkbox>     
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button class="text-center" mat-raised-button mat-dialog-close color="default">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="vpfForm.invalid"><mat-icon>save</mat-icon> Guardar</button>
  </div>
</form>
<div>
  <app-alert></app-alert>
</div>