<div class="edit-user-container">
  <h3 mat-dialog-title>Agregar Usuario</h3>
  <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <div mat-dialog-content>      
      <div class="form-group">
        <mat-form-field>
          <mat-label>Agente:</mat-label>
          <input type="text" matInput placeholder="Agente" arial-label="Agente" formControlName="agentNumber">
          <mat-error *ngIf="addUserForm.get('agentNumber').hasError('required')">Campo Agente es Requerido</mat-error> 
          <mat-error *ngIf="addUserForm.get('agentNumber').hasError('pattern')">Campo Agente es Númerico.</mat-error>
        </mat-form-field>  
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Usuario:</mat-label>
          <input type="text" matInput placeholder="Usuario" arial-label="Usuario" formControlName="username">
          <mat-error *ngIf="addUserForm.get('username').hasError('required')">Campo Usuario es Requerido</mat-error>
        </mat-form-field>  
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Nombre:</mat-label>
          <input type="text" matInput placeholder="Nombre" arial-label="Nombre" formControlName="firstname">
          <mat-error *ngIf="addUserForm.get('firstname').hasError('required')">Campo Nombre es Requerido</mat-error>
        </mat-form-field>  
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Apellido Paterno:</mat-label>
          <input type="text" matInput placeholder="Apellido Paterno" arial-label="Apellido Paterno" formControlName="lastname">
          <mat-error *ngIf="addUserForm.get('lastname').hasError('required')">Campo Apellido Paterno es Requerido</mat-error>
        </mat-form-field>  
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input type="text" matInput placeholder="E-mail" arial-label="Email" formControlName="email">
          <mat-error *ngIf="addUserForm.get('email').hasError('required')">Campo E-mail es Requerido</mat-error>
          <mat-error *ngIf="addUserForm.get('email').hasError('email')">Campo E-mail Tiene Formato Incorrecto.</mat-error>
        </mat-form-field> 
      </div>      
    </div>
    <div class="row">
      <div class="col-12">
        <p *ngIf="errorText" style="color:red;">{{errorText}}</p>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button class="text-center" mat-raised-button mat-dialog-close color="default">Cancelar</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="addUserForm.invalid"><mat-icon>save</mat-icon> Guardar</button>
    </div>
  </form>
</div>
  