<app-spinner [isVisible]="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          {{ title }}
        </div>
        <div class="card-body">
          <form
            class="form-search"
            [formGroup]="searchForm"
            #frmSearch="ngForm"
            (ngSubmit)="doSearch(searchForm)"
            novalidate
          >
            <div class="row">
              <div class="col-xs-4 col-md-3 col-lg-3 col-xl-2">
                <mat-form-field>
                  <mat-label>Año:</mat-label>
                  <mat-select formControlName="year">
                    <mat-option *ngFor="let item of years" [value]="item.id">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="searchForm.get('year').hasError('required')"
                    >Campo Año es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-4 col-md-3 col-lg-3 col-xl-2">
                <mat-form-field>
                  <mat-label>Mes:</mat-label>
                  <mat-select formControlName="month">
                    <mat-option *ngFor="let item of months" [value]="item.id">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="searchForm.get('month').hasError('required')"
                    >Campo Mes es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-4 col-md-3 col-lg-3 col-xl-2">
                <mat-form-field>
                  <mat-label>Comercio:</mat-label>
                  <input
                    matInput
                    placeholder="Comercio"
                    formControlName="commerce"
                  />
                  <mat-error
                    *ngIf="searchForm.get('commerce').hasError('pattern')"
                    >Campo Comercio es Númerico.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-md-3 col-lg-3 col-xl-6 mt-2">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="searchForm.invalid"
                >
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="doReset()"
                  color="default"
                  style="margin-left: 5px;"
                >
                  <mat-icon>delete_sweep</mat-icon> Limpiar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="download()"
                  color="default"
                  style="margin-left: 5px;"
                  *ngIf="items.length > 0"
                >
                  <mat-icon>cloud_download</mat-icon> Descargar
                </button>
              </div>
              <div class="col">
                <div *ngIf="errorForm">
                  <p style="color: red;">{{ errorForm }}</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-12 mt-3">
      <app-alert></app-alert>
      <app-table-view
        #tableView
        [items]="items"
        [columns]="columns"
        [limit]="pageSize"
      ></app-table-view>
    </div>
  </div>
</div>
