<div class="container-fluid">
    <div class="row-fluid ">
      <div class="col-xs-12 col-md-8 com-lg-8 col-xl-8 mt-5 offset-md-2">
        <div class="card card-default">
          <div class="card-header">Descargar Archivo</div>
          <div class="card-body">
            <form [formGroup]="downloadForm" #ngDownloadForm="ngForm" (ngSubmit)="save()" novalidate>
              <mat-form-field>
                <mat-label>Programa:</mat-label>
                <mat-select formControlName="programId">
                  <mat-option *ngFor="let item of programList" [value]="item.IdEmisor">{{item.RazonSocial}}</mat-option>                
                </mat-select>
                <mat-error *ngIf="downloadForm.get('programId').hasError('required')">Campo Programa es Requerido.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Tipo Lote:</mat-label>
                <mat-select formControlName="typeLotId" (selectionChange)="changeTypeLot()">
                  <mat-option *ngFor="let item of typeLotList" [value]="item.IdTipoLote">{{item.Descripcion}}</mat-option>
                </mat-select>
                <mat-error *ngIf="downloadForm.get('typeLotId').hasError('required')">Campo Tipo Lote es Requerido.</mat-error>
              </mat-form-field>              
              <mat-form-field>
                <mat-label>Lote:</mat-label>
                <mat-select formControlName="lotId" (selectionChange)="changeLot($event)">             
                  <mat-option *ngFor="let item of lotList" [value]="item.IdLote">{{item.NombreLote}}</mat-option>   
                </mat-select>
                <mat-error *ngIf="downloadForm.get('lotId').hasError('required')">Campo Lote es Requerido.</mat-error>
              </mat-form-field>
              <div class="row">
                <div class="col-12">
                  <div class="form-actions" align="end">
                      <button mat-raised-button type="button" color="default" (click)="reset()" style="margin-right: 5px;">Cancelar</button>
                      <button mat-raised-button type="submit" color="primary" [disabled]="downloadForm.invalid"><mat-icon>cloud_download</mat-icon> Descargar</button>
                  </div>                
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>