<app-spinner [isVisible]="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Consulta Analytics Transacciones
        </div>
        <div class="card-body">
          <form
            class="form-search"
            [formGroup]="searchForm"
            #frmSearch="ngForm"
            (ngSubmit)="doSearch()"
            novalidate
          >
            <div class="row">
              <div class="col-xs-6 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field>
                  <mat-label>Buscar</mat-label>
                  <input
                    matInput
                    placeholder="Buscar"
                    formControlName="title"
                  />
                  <mat-error
                    *ngIf="searchForm.get('title').hasError('required')"
                    >Campo Buscar es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-md-8 col-lg-8 col-xl-8 mt-2">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="searchForm.invalid"
                >
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="reset()"
                  color="default"
                  style="margin-left: 5px;"
                >
                  <mat-icon>delete_sweep</mat-icon> Limpiar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="add()"
                  color="default"
                  style="margin-left: 5px;"
                >
                  <mat-icon>add</mat-icon> Agregar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-12 mt-3">
      <app-alert></app-alert>
      <app-table-view
        #tableView
        [items]="items"
        [columns]="columns"
        [limit]="pageSize"
      ></app-table-view>
    </div>
  </div>
</div>

<ng-template
  let-row="row"
  let-expanded="expanded"
  ngx-datatable-cell-template
  #actionCellTemplate
>
  <div class="row-container">
    <div>
      <button mat-raised-button color="primary" (click)="export(row)">
        Exportar
      </button>
      <button mat-raised-button color="primary" (click)="duplicate(row)">
        Duplicar
      </button>
      <button mat-raised-button color="primary" (click)="delete(row)">
        Eliminar
      </button>
    </div>
  </div>
</ng-template>
