<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card card-default mt-5">
        <div class="card-header">Buscar</div>
        <div class="card-body">
          <form
            [formGroup]="searchBranchForm"
            #ngSearchForm="ngForm"
            (ngSubmit)="doSearch()"
            novalidate
          >
            <div class="row">
              <div class="col-2">
                <mat-form-field>
                  <mat-label>Comercio:</mat-label>
                  <input
                    matInput
                    placeholder="Comercio"
                    formControlName="commerceNumber"
                  />
                  <mat-error
                    *ngIf="
                      searchBranchForm
                        .get('commerceNumber')
                        .hasError('required')
                    "
                    >Campo Comercio es Requerido.</mat-error
                  >
                  <mat-error
                    *ngIf="
                      searchBranchForm.get('commerceNumber').hasError('pattern')
                    "
                    >Campo Comercio es Númerico.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-10 mt-2">
                <button
                  mat-raised-button
                  color="primary"
                  [disabled]="searchBranchForm.invalid"
                >
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="doReset()"
                  color="default"
                  style="margin-left: 5px;"
                >
                  <mat-icon>delete_sweep</mat-icon> Limpiar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid mt-2">
    <div class="col-12">
      <app-alert></app-alert>
      <app-table-view
        #tableView
        [items]="items"
        [columns]="columns"
        [limit]="pageSize"
      ></app-table-view>

      <ng-template
        let-row="row"
        let-expanded="expanded"
        ng-datatable-cell-template
        #actionCellTemplate
      >
        <div class="row-container">
          <div>
            <button mat-raised-button color="primary" (click)="editBranch(row)">
              <mat-icon>edit</mat-icon> Editar
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="inactiveBranch(row)"
              style="margin-left: 5px;;"
            >
              <mat-icon>visibility_off</mat-icon> Desactivar
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
