.wrapper-login {
  width: 100%;
  padding: 0;
  display: table;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.login-middle {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}

.content-login {
  max-width: 380px;
  margin: 0 auto;
  background-color: #fff;
}

.login-form-field {
  display: flex;
  margin-left: 10px;
  width: 100%;
}

.login-control-input {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}
::ng-deep .mat-form-field-wrapper {
  width: 100%;
}
.login-image {
  text-align: center;
}
.login-error {
  color: red;
}
