<app-spinner [isVisible]="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class=row-fluid>
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Consulta de Transacciones
        </div>
        <div class="card-body">
          <form class="form-search" [formGroup]="searchForm" #frmSearch="ngForm" (ngSubmit)="doSearch(searchForm)" novalidate>
            <div class="row">   
              <div class="col-xs-6 col-md-3 col-lg-2 col-xl-2">
                <mat-form-field>
                  <mat-label>Comercio</mat-label>
                  <input matInput placeholder="Comercio" formControlName="commerce">
                  <mat-error *ngIf="searchForm.get('commerce').hasError('required');">Campo Comercio es Requerido</mat-error>
                  <mat-error *ngIf="searchForm.get('commerce').hasError('pattern')">Campo Comercio es Númerico.</mat-error>
                  <mat-error *ngIf="searchForm.get('commerce').hasError('minlength');">Campo Comercio Mínimo 2 Dígitos</mat-error>
                  <mat-error *ngIf="searchForm.get('commerce').hasError('maxlength');">Campo Comercio Máximo 10 Dígitos</mat-error>
                  
                </mat-form-field>
              </div> 
              <div class="col-xs-6 col-md-4 col-lg-3 col-xl-2">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="searchForm.get('date').hasError('required');">Campo Fecha es Requerido</mat-error>
                </mat-form-field>
              </div>               
              <div class="col-xs-12 col-md-5 col-lg-7 col-xl-8 mt-2">                      
                <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.invalid">
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button mat-raised-button type="button" (click)="doReset()" color="default" style="margin-left: 5px;"><mat-icon>delete_sweep</mat-icon> Limpiar</button>
              </div>
            </div>   
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
      <div class="col-12 mt-3">
        <app-alert></app-alert>
        <app-table-view #tableView [items]="items" [columns] = "columns" [limit]="pageSize" ></app-table-view>      
      </div>
  </div>
</div>
  