<h1 mat-dialog-title>Usuario</h1>
<form [formGroup]="userForm" (ngSubmit)="saveUser()" novalidate>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput placeholder="Nombre:" formControlName="Nombre" />
      <mat-error *ngIf="userForm.get('Nombre').hasError('required')"
        >Campo Nombre es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido Paterno:</mat-label>
      <input
        matInput
        placeholder="Apellido paterno:"
        formControlName="ApellidoPaterno"
      />
      <mat-error *ngIf="userForm.get('ApellidoPaterno').hasError('required')"
        >Campo Apellido Paterno es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo Electrónico:</mat-label>
      <input
        matInput
        placeholder="Correo Electrónico:"
        formControlName="Email"
      />
      <mat-error *ngIf="userForm.get('Email').hasError('required')"
        >Campo Correo Electrónico es Requerido.</mat-error
      >
      <mat-error *ngIf="userForm.get('Email').hasError('email')"
        >Campo Correo Electrónico es Incorrecto.</mat-error
      >
    </mat-form-field>
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger" *ngIf="messageError">
          {{ messageError }}
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button
      class="text-center"
      mat-raised-button
      mat-dialog-close
      color="default"
    >
      Cancelar
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="userForm.invalid"
    >
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</form>
