<h1 mat-dialog-title>Agregar Agente Fullcarga</h1>
<form
  [formGroup]="agentFullcargaForm"
  (ngSubmit)="addAgentFullcarga()"
  novalidate
>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Agente/Comercio:</mat-label>
      <input
        matInput
        placeholder="Agente/Comercio"
        formControlName="commerceNumber"
      />
      <mat-error
        *ngIf="agentFullcargaForm.get('commerceNumber').hasError('required')"
        >El Campo Agente/Comercio es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cadena:</mat-label>
      <input matInput placeholder="Cadena" formControlName="chainNumber" />
      <mat-error
        *ngIf="agentFullcargaForm.get('chainNumber').hasError('required')"
        >El Campo Cadena es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Terminal:</mat-label>
      <input matInput placeholder="Terminal" formControlName="terminalNumber" />
      <mat-error
        *ngIf="agentFullcargaForm.get('terminalNumber').hasError('required')"
        >El Campo Terminal es Requerido.</mat-error
      >
      <mat-error
        *ngIf="agentFullcargaForm.get('terminalNumber').hasError('minlength')"
        >El Campo Terminal Mínimo 3 Dígitos.</mat-error
      >
      <mat-error
        *ngIf="agentFullcargaForm.get('terminalNumber').hasError('maxlength')"
        >El Campo Terminal Máximo 20 Dígitos.</mat-error
      >
    </mat-form-field>    
    <mat-form-field>
      <mat-label>Contraseña Pos:</mat-label>
      <input matInput placeholder="Contraseña Pos" formControlName="password" />
      <mat-error *ngIf="agentFullcargaForm.get('password').hasError('required')"
        >El Campo Contraseña Pos es Requerido.</mat-error
      >
      <mat-error
        *ngIf="agentFullcargaForm.get('password').hasError('minlength')"
        >Contraseña Pos Mínimo 6 Dígitos.</mat-error
      >
      <mat-error
        *ngIf="agentFullcargaForm.get('password').hasError('maxlength')"
        >Contraseña Pos Máximo 10 Dígitos.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña Encriptación:</mat-label>
      <input
        matInput
        placeholder="Contraseña Encriptación"
        formControlName="PasswordForEncrypt"
      />
      <mat-error
        *ngIf="
          agentFullcargaForm.get('PasswordForEncrypt').hasError('required')
        "
        >El Campo Contraseña Encriptación es Requerido.</mat-error
      >
      <mat-error
        *ngIf="
          agentFullcargaForm.get('PasswordForEncrypt').hasError('minlength')
        "
        >Contraseña Encriptación Mínimo 6 Dígitos.</mat-error
      >
      <mat-error
        *ngIf="
          agentFullcargaForm.get('PasswordForEncrypt').hasError('maxlength')
        "
        >Contraseña Encriptación Máximo 10 Dígitos.</mat-error
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button
      class="text-center"
      mat-raised-button
      mat-dialog-close
      color="default"
    >
      Cancelar
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="agentFullcargaForm.invalid"
    >
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</form>
<div>
  <app-alert></app-alert>
</div>
