<app-spinner [isVisible]="spinnerVisible"></app-spinner>
<div class="content-report-card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-2">
        <h4 class="text-center">Motivo de Reporte</h4>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <form [formGroup]="cardReportForm" #formCardReport="ngForm" (ngSubmit)="saveReportCard()" novalidate>
          <div class="row">
            <div class="col-12">
              <mat-radio-group formControlName="reasonId">
                <mat-radio-button  color="primary" class="example-radio-button" *ngFor="let item of reasons" [value]="item.IdMotivo">
                  {{item.Descripcion}}
                </mat-radio-button>
              </mat-radio-group>
            </div>              
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>Número de Tarjeta a Reportar:</mat-label>
                <input matInput formControlName="oldCardNumber" placeholder="Número de Tarjeta a Reportar" maxlength="16" readonly />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label>Nombre del Beneficiario:</mat-label>
                <input matInput formControlName="fullname" placeholder="Nombre del Beneficiario" readonly />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>Nombre de la Persona que Llama para Realizar el Reporte:</mat-label>
                <input matInput formControlName="fullnameReport" placeholder="" />
                <mat-error *ngIf="cardReportForm.get('fullnameReport').hasError('required')">El campo Persona que Reporta es Requerido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label>Nuevo Número de Tarjeta para Transpaso de Saldo:</mat-label>
                <input matInput formControlName="newCardNumber" placeholder="Nuevo Número de Tarjeta" maxlength="16" />
                <mat-error *ngIf="cardReportForm.get('newCardNumber').hasError('required')">El campo Número de Tarjeta es Requerido</mat-error>
                <mat-error *ngIf="cardReportForm.get('newCardNumber').hasError('minlength')">El campo Número de Tarjeta Mínimo 16 Caracteres</mat-error>
                <mat-error *ngIf="cardReportForm.get('newCardNumber').hasError('maxlength')">El campo Número de Tarjeta Máximo 16 Caracteres</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field>
                <mat-label>Observaciones:</mat-label>
                <input matInput formControlName="observationReport" placeholder="Observaciones" />
                <mat-error *ngIf="cardReportForm.get('observationReport').hasError('required')">El campo Observaciones es Requerido</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button mat-raised-button type="submit" [disabled]="cardReportForm.invalid" color="primary">Guardar</button>
              <button mat-raised-button type="button" (click)="doReset()" style="margin-left: 5px;"><mat-icon>clear</mat-icon> Limpiar</button>
            </div>
          </div>      
        </form>
      </div>
    </div>
  </div>
</div>