<div
  class="table-results-base"
  [ngStyle]="{ 'min-height': minTableHeight + 'px' }"
>
  <div class="" *ngIf="items && items.length > 0">
    <div>
      <ngx-datatable
        #myTable
        class="material striped ngx-table"
        [rows]="items"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="limit"
        [selectionType]="'checkbox'"
        [selected]="selected"
        (select)="onSelect($event)"
      >
        <ngx-datatable-column
          *ngFor="let column of columns"
          [width]="column.width"
          [flexGrow]="column.flexGrow"
          [name]="column.name"
          [resizeable]="column.resizeable"
          [cellTemplate]="column.cellTemplate"
          [headerTemplate]="column.headerTemplate"
          [prop]="column.prop"
          [sortable]="column.sortable ? true : false"
          [cellClass]="cellClass"
          [headerCheckboxable]="column.headerCheckboxable ? true : false"
          [checkboxable]="column.checkboxable ? true : false"
          [pipe]="column.pipe"
        >
        </ngx-datatable-column>

        <ngx-datatable-row-detail #myDetailRow>
          <ng-template
            let-row="row"
            let-expanded="expanded"
            ngx-datatable-row-detail-template
          >
            <ng-container
              [ngTemplateOutlet]="detailTemplate"
              [ngTemplateOutletContext]="{ row: row }"
            ></ng-container>
          </ng-template>
        </ngx-datatable-row-detail>
      </ngx-datatable>
    </div>
  </div>
</div>
