<div class="error-template">
  <div class="error-middle">
    <div class="error-content">
      <img src="../../../assets/logo.png" > 
      <h2>404 Not Found</h2>
      <div class="error-detail">
        <a mat-raised-button color="primary" routerLink="/home">
        <mat-icon>arrow_back</mat-icon> Regresar al Inicio</a>
      </div>
    </div>  
  </div>  
</div> 