.error-template {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.error-template .error-middle{
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}

.error-template .error-middle .error-content {
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 15px;
    width: 890px;
    text-align: center;
}

.error-template .error-middle .error-content .error-detail{
    margin: 20px 15px;
}


