<div class="content-balance">
 <div class="row-fluid">
      <div class="col-12 mt-2">
          <h4 class="text-center">Saldos</h4>
          <hr>
      </div>
      <div class="col-12 mb-2">
        <app-table-view #tableView [items]="items" [columns]="columns" [limit]="pageSize"></app-table-view>                   
      </div>
  </div>
</div>
   