
<mat-progress-bar mode="indeterminate" *ngIf="isSearch"></mat-progress-bar>
<div class="" *ngIf="items && items.length > 0">
    <div class="">
        <h1 mat-dialog-title>Seleccione una opción</h1>
        <div mat-dialog-content>          
              <ngx-datatable class="material striped ngx-table"
              [rows]="items"  
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="50"          
              [limit]="limit"
              [selected]="selected"
              [selectionType]="SelectionType.single"
              (select)="onSelect($event)"        
              >
              <ngx-datatable-column  *ngFor="let column of columns"
              [flexGrow]="column.flexGrow"
              [name]="column.name"
              [resizeable]="column.resizeable"
              [cellTemplate]="column.cellTemplate"
              [prop]="column.prop"
              [sortable]="column.sortable? true: false">  
            </ngx-datatable-column>
            </ngx-datatable>      
            
        </div>
        <mat-dialog-actions >
            <button class="text-center" mat-raised-button mat-dialog-close color="primary">Cerrar</button>
          </mat-dialog-actions>
      </div>
</div>
