<app-spinner [isVisible]="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Buscador
        </div>
        <div class="card-body">
          <form class="form-search" [formGroup]="searchForm" #f="ngForm" (ngSubmit)="doSearch(searchForm)" novalidate>
            <div class="row">
            <div class="col-7">
                <mat-radio-group formControlName="typeOption">
                  <mat-radio-button  color="primary" class="example-radio-button" *ngFor="let item of optionSearch" [value]="item.id">
                    {{item.value}}
                  </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <input matInput [matDatepicker]="startPicker" placeholder="Fecha Inicial" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                    <mat-error *ngIf="searchForm.get('startDate').hasError('required');">Campo Fecha es Requerido</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <input matInput [matDatepicker]="endPicker" placeholder="Fecha Final" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    <mat-error *ngIf="searchForm.get('endDate').hasError('required');">Campo Fecha es Requerido</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>            
            </div>
            <div class="col-12">
                <div class="row" *ngIf="isVisible(1)">                  
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Nombre(s)</mat-label>
                            <input matInput placeholder="" formControlName="firstName">
                            <mat-error *ngIf="searchForm.get('firstName').hasError('required')">El campo Nombre es Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field>
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="" formControlName="lastName">
                            <mat-error *ngIf="searchForm.get('lastName').hasError('required')">El campo Nombre es Requerido</mat-error>
                        </mat-form-field>
                    </div>  
                    <div class="col-2">
                        <mat-form-field>
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="" formControlName="secondName">
                        </mat-form-field>
                    </div>  
                      <div class="col-2">
                        <mat-form-field>
                          <mat-label>Teléfono</mat-label>
                          <input matInput placeholder="" formControlName="phoneNumber">
                          <mat-error *ngIf="searchForm.get('phoneNumber').hasError('minlength')">El campo Teléfono Mínimo 10 Dígitos</mat-error>
                          <mat-error *ngIf="searchForm.get('phoneNumber').hasError('maxlength')">El campo Teléfono Máximo 10 Dígitos</mat-error>
                          <mat-error *ngIf="searchForm.get('phoneNumber').hasError('pattern')">Campo Teléfono es Númerico.</mat-error>
                        </mat-form-field>
                      </div>
                  </div>
                <div class="row" *ngIf="isVisible(2)">
                    <div class="col-3">
                        <mat-form-field>
                          <mat-label>Número Tarjeta</mat-label>
                          <input matInput placeholder="" formControlName="cardNumber">
                          <mat-error *ngIf="searchForm.get('cardNumber').hasError('required')">El campo Número de Tarjeta es Requerido</mat-error>
                          <mat-error *ngIf="searchForm.get('cardNumber').hasError('pattern')">Campo Número de Tarjeta es Númerico.</mat-error>
                          <mat-error *ngIf="searchForm.get('cardNumber').hasError('minlength')">El campo Número de Tarjeta Mínimo 16 Caracteres</mat-error>
                          <mat-error *ngIf="searchForm.get('cardNumber').hasError('maxlength')">El campo Número de Tarjeta Máximo 16 Caracteres</mat-error>                          
                        </mat-form-field>
                      </div>
                </div>                
                <div class="row" *ngIf="isVisible(3)">
                    <div class="col-3">
                      <mat-form-field>
                        <mat-label>IDP</mat-label>
                        <input matInput placeholder="" formControlName="idp">
                        <mat-error *ngIf="searchForm.get('idp').hasError('required')">El campo IDP es Requerido</mat-error>
                        <mat-error *ngIf="searchForm.get('idp').hasError('minlength')">El campo IDP Mínimo 1 Caracter</mat-error>
                      </mat-form-field>
                    </div>     
                </div>
            </div>
            <div class="col-12">
              <button mat-raised-button type="submit" color="primary" [disabled]="searchForm.invalid">
                <mat-icon>search</mat-icon> Buscar
              </button>
              <button mat-raised-button type="button" (click)="doReset()" style="margin-left: 5px;"><mat-icon>delete_sweep</mat-icon> Limpiar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4">
      <app-alert></app-alert>
      <div id="content" *ngIf="isResult">
        <div id="main-content">
          <mat-tab-group>
            <mat-tab label="Datos Generales">
              <app-personal-info *ngIf="personal" [record]="personal"></app-personal-info>
            </mat-tab>
            <mat-tab label="Saldos">
              <app-balance [cardNumber]="personal.Tarjeta"></app-balance>
            </mat-tab>
            <mat-tab label="Movimientos">
              <app-movement [cardNumber]="personal.Tarjeta" [searchItems]="searchItem"></app-movement>
            </mat-tab>
            <mat-tab label="Histórico Tarjetas">
              <app-card-history [cardNumber]="personal.Tarjeta"></app-card-history>            
            </mat-tab>
            <mat-tab label="Estatus Tarjeta">
              <app-edit-card [cardNumber]="personal.Tarjeta"></app-edit-card>            
            </mat-tab>
            <mat-tab label="Reportar Tarjeta">
              <app-report-card [cardNumber]="personal.Tarjeta"></app-report-card>            
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>