<h1 mat-dialog-title>Variables de Profundidad</h1>
<form [formGroup]="userVariableForm" (ngSubmit)="saveVariable()" novalidate>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>
        Corporativo
      </mat-label>
      <input matInput placeholder="Corporativo" formControlName="Corporativo" />
      <mat-icon
        matSuffix
        matTooltip="{{ tooltipCorporate }}"
        matTooltipClass="material-tooltip"
        >help</mat-icon
      >
      <mat-error
        *ngIf="userVariableForm.get('Corporativo').hasError('required')"
        >Campo Corporativo es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Region </mat-label>
      <input
        matInput
        placeholder="Region"
        formControlName="Region"
        (focusout)="setTooltipManager()"
      />
      <mat-icon
        matSuffix
        matTooltip="{{ tooltipRegion }}"
        matTooltipClass="material-tooltip"
        >help</mat-icon
      >
      <mat-error *ngIf="userVariableForm.get('Region').hasError('required')"
        >Campo Sucursal es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gerencia </mat-label>
      <input
        matInput
        placeholder="Gerencia"
        formControlName="Gerencia"
        (click)="setTooltipManager()"
      />
      <mat-icon
        matSuffix
        matTooltip="{{ tooltipGerencia }}"
        matTooltipClass="material-tooltip"
        (mouseover)="setTooltipManager()"
        >help</mat-icon
      >
      <mat-error *ngIf="userVariableForm.get('Gerencia').hasError('required')"
        >Campo Gerencia es Requerido.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cadena </mat-label>
      <input matInput placeholder="Cadena" formControlName="Cadena" />
      <mat-error *ngIf="userVariableForm.get('Cadena').hasError('required')"
        >Campo Cadena es Requerido.</mat-error
      >
    </mat-form-field>
    <div class="">
      <mat-checkbox color="primary" formControlName="EsAdministrador"
        >Administrador</mat-checkbox
      >
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button
      class="text-center"
      mat-raised-button
      mat-dialog-close
      color="default"
    >
      Cancelar
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="userVariableForm.invalid"
    >
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</form>
