<h1 mat-dialog-title>Editar Sucursal</h1>
<form [formGroup]="branchEditForm" (ngSubmit)="update()" novalidate>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Agente:</mat-label>
      <input matInput placeholder="Agente" formControlName="agentNumber" readonly />
      <mat-error>El Campo Agente es Requerido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput placeholder="Nombre" formControlName="name" />
      <mat-error>El Campo Nombre es Requerido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gerencia:</mat-label>
      <mat-select formControlName="nivelId">
        <mat-option *ngFor="let item of managementList" [value]="item.Id">{{item.Nombre}}</mat-option>
      </mat-select>
      <mat-error>Campo Gerencia es Requerido.</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button class="text-center" mat-raised-button mat-dialog-close color="default">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="branchEditForm.invalid"><mat-icon>save</mat-icon> Guardar</button>
  </div>
</form>
<div>
  <app-alert></app-alert>
</div>