<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 mt-5">
      <div class="card card-default">
        <div class="card-header">Reportes</div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
              <mat-form-field>
                <mat-label>Tipo de Reporte:</mat-label>
                <mat-select
                  name="typeReport"
                  [value]="2"
                  (selectionChange)="changeEvent($event.value)"
                >
                  <mat-option
                    *ngFor="let item of reportsList"
                    [value]="item.id"
                    >{{ item.value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-2">
              <div *ngIf="typeReport == 1">
                <app-tx-construlogras></app-tx-construlogras>
              </div>
              <div *ngIf="typeReport == 2">
                <app-layout-goal></app-layout-goal>
              </div>
              <div *ngIf="typeReport == 3">
                <app-transaction-posweb></app-transaction-posweb>
              </div>
              <div *ngIf="typeReport == 4">
                <app-total-posweb-agent></app-total-posweb-agent>
              </div>
              <div *ngIf="typeReport == 5">
                <app-redeemed-award></app-redeemed-award>
              </div>
              <div *ngIf="typeReport == 6">
                <app-universe-posweb></app-universe-posweb>
              </div>
              <div class="mt-2">
                <app-alert></app-alert>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <app-table-view
        #tableView
        [items]="items"
        [columns]="columns"
        [limit]="pageSize"
      ></app-table-view>
    </div>
  </div>
</div>
