<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12 mt-5">
      <div class="card card-default">
        <div class="card-header">Cargar Documentos</div>
        <div class="card-body">
          <form
            [formGroup]="loadForm"
            #ngLoadForm="ngForm"
            (ngSubmit)="loadFile()"
            novalidate
          >
            <div class="row">
              <div class="col-4">
                <mat-form-field>
                  <mat-label>Archivo</mat-label>
                  <ngx-mat-file-input
                    #fileNameInput
                    formControlName="fileName"
                    (change)="onFileChange($event)"
                    placeholder="Archivo"
                    [accept]="extFile"
                  ></ngx-mat-file-input>
                  <mat-icon matSuffix>attachment</mat-icon>
                  <button
                    mat-icon-button
                    matSuffix
                    *ngIf="!fileNameInput.empty"
                    (click)="fileNameInput.clear($event)"
                    [class.spinner]="loading"
                    [disabled]="loading"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="loadForm.get('fileName').hasError('required')"
                    >El Campo Archivo es Requerido.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-8">
                <div class="form-actions mt-2">
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="loadForm.invalid"
                  >
                    Guardar
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    (click)="doReset()"
                    color="default"
                    style="margin-left: 5px;"
                  >
                    <mat-icon>delete_sweep</mat-icon> Limpiar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <app-alert></app-alert>
      <mat-list class="mt-2" *ngIf="errorList.length > 0">
        <h3 mat-subheader>
          Lista de errores:
          <a href="#" (click)="downloadFile($event)" style="margin-left: 5px;"
            >Descargar Archivo</a
          >
        </h3>
        <mat-list-item *ngFor="let item of errorList">
          <mat-icon mat-list-icon>report</mat-icon>
          <h4 mat-line>{{ item }}</h4>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
