<div class="content-movements">
  <div class="row-fluid">
      <div class="col-12 mt-2">
        <h4 class="text-center">Movimientos</h4>
        <hr>
      </div>
      <div class="col-12 mt-2">
        <app-table-view #tableView [items]="items" [columns] = "columns" [limit]="pageSize"></app-table-view>   
      </div>                   
  </div>
</div>
