<div class="content-history-card">
  <div class="row-fluid">
    <div class="col-12 mt-2">
      <h4 class="text-center">Tarjetas Histórico</h4>
      <hr>
    </div>
    <div class="col-12">
      <app-table-view [items]="items" [columns]="columns" [limit]="pageSize"></app-table-view>
    </div>
  </div>
</div>
