<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header">
          Buscar Agente
        </div>
        <div class="card-body">
          <form
            class="form-search"
            [formGroup]="searchForm"
            #f="ngForm"
            (ngSubmit)="doSearch(searchForm)"
            novalidate
          >
            <div div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6 col-xl-2">
                <mat-form-field>
                  <mat-label>Programa</mat-label>
                  <mat-select formControlName="programId">
                    <mat-option
                      *ngFor="let item of programList"
                      [value]="item.IdPrograma"
                    >
                      {{ item.Nombre }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="searchForm.get('programId').hasError('required')"
                    >Campo Programa es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-xs-6 col-md-6 col-lg-6 col-xl-4">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field>
                      <mat-label>Agente</mat-label>
                      <input
                        type="text"
                        matInput
                        placeholder="Agente"
                        formControlName="agentNumber"
                      />
                      <mat-error
                        *ngIf="
                          searchForm.get('agentNumber').hasError('required')
                        "
                        >Campo Agente es Requerido</mat-error
                      >
                      <mat-error
                        *ngIf="
                          searchForm.get('agentNumber').hasError('pattern')
                        "
                        >Campo Agente es Númerico.</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="col-8">
                    <mat-form-field>
                      <mat-label>Email</mat-label>
                      <input
                        type="email"
                        matInput
                        placeholder="Email"
                        formControlName="email"
                      />
                      <mat-error
                        *ngIf="searchForm.get('email').hasError('required')"
                        >Campo Email es Requerido</mat-error
                      >
                      <mat-error
                        *ngIf="searchForm.get('email').hasError('email')"
                        >Campo Email es Incorrecto</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 col-lg-12 col-xl-6 mt-2">
                <button mat-raised-button type="submit" color="primary">
                  <mat-icon>search</mat-icon> Buscar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="doReset()"
                  color="default"
                  style="margin-left: 5px;"
                >
                  <mat-icon>delete_sweep</mat-icon> Limpiar
                </button>
                <button
                  mat-raised-button
                  type="button"
                  (click)="addUser()"
                  color="primary"
                  style="margin-left: 5px;"
                >
                  <mat-icon>add</mat-icon> Agregar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-12 mt-2">
      <app-alert></app-alert>
    </div>
    <div class="col-12">
      <app-table-view
        [items]="items"
        [columns]="columns"
        [limit]="pageOfSize"
      ></app-table-view>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-cell-template
        #actionCellTemplate
      >
        <div class="row-container">
          <div>
            <button mat-raised-button color="primary" (click)="editUser(row)">
              <mat-icon>edit</mat-icon> Editar
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
