<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-12">
      <div class="card mt-5 card-default">
        <div class="card-header"> Buscar </div>
        <div class="card-body">
            <form [formGroup]="searchForm" #ngSearchForm="ngForm" (ngSubmit)="doSearch()" novalidate>
              <div class="row">
                <div class="col-2">
                  <mat-form-field>
                    <mat-label>Número de Agente:</mat-label>
                    <input matInput placeholder="Número de Agente" formControlName="agentNumber"> 
                    <mat-error *ngIf="searchForm.get('agentNumber').hasError('required')">El Campo Número de Agente es Requerido</mat-error>               
                    <mat-error *ngIf="searchForm.get('agentNumber').hasError('pattern')">Campo Número de Agente es Númerico.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-10 mt-2">
                  <button mat-raised-button type="submit" color="primary" [disabled]="searchForm.invalid" >                      
                    <mat-icon>search</mat-icon> Buscar
                  </button>
                  <button mat-raised-button type="button" (click)="doReset()" color="default" style="margin-left: 5px;"><mat-icon>delete_sweep</mat-icon> Limpiar</button>
                  <button mat-raised-button type="button" color="primary" (click)="onChangeActive()" *ngIf="selected.length > 0" style="margin-left: 5px;">                      
                    <mat-icon>visibility_on</mat-icon> Activar Seleccionados
                  </button>
                  <button mat-raised-button type="button" color="primary" (click)="onChangeInActive()" *ngIf="selected.length > 0" style="margin-left: 5px;">                      
                      <mat-icon>visibility_off</mat-icon> Desactivar Seleccionados
                  </button>
                  <button mat-raised-button type="button" color="primary" (click)="addAgent()" style="margin-left: 5px;"><mat-icon>add</mat-icon> Nuevo</button>
                  <button mat-raised-button type="button" color="primary" (click)="addAgentFullcarga()" style="margin-left: 5px;"><mat-icon>add</mat-icon> Agente Fullcarga</button>
                  <button mat-raised-button type="button" color="primary" (click)="downloadUsersPosweb()" style="margin-left: 5px;"><mat-icon>save_alt</mat-icon> Usuarios</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <app-alert></app-alert>
      <app-table-view #tableView [items]="items" [columns]="columns" [limit]="pageSize" (selectEvent)="selectEvent($event)"></app-table-view>
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template #actionCellTemplate>
          <div class="row-container">
              <div>
                <button mat-raised-button color="primary" (click)="edit(row)"><mat-icon>edit</mat-icon> </button>
                <button mat-raised-button color="primary" (click)="variablePF(row)" style="margin-left: 5px;"><mat-icon>build</mat-icon> </button>
              </div>
          </div>
      </ng-template>
      <ng-template let-row="row" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn" ngx-datatable-cell-template #checkCellTemplate>
        <div class="row-container">
            <div>
              <mat-checkbox class="example-margin" color="primary" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>              
            </div>
        </div>
    </ng-template>
      <ng-template let-row="row" #headerTemplate ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
          <mat-checkbox class="example-margin" color="primary" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>                        
      </ng-template>
    </div>
  </div>
</div>