<app-spinner [isVisible]="showSpinner"></app-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card mt-5 card-default">
        <div class="card-header">Buscador</div>
        <div class="card-body">
          <form
            class="form-search"
            [formGroup]="searchForm"
            #ngSearchForm="ngForm"
            (ngSubmit)="doSearch()"
            novalidate
          >
            <div class="row">
              <div class="col-3">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="startPicker"
                    placeholder="Fecha Inicial"
                    formControlName="startDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                  <mat-error
                    *ngIf="searchForm.get('startDate').hasError('required')"
                    >Campo Fecha es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="endPicker"
                    placeholder="Fecha Final"
                    formControlName="endDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                  <mat-error
                    *ngIf="searchForm.get('endDate').hasError('required')"
                    >Campo Fecha es Requerido</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-6">
                <div class="form-actions mt-2">
                  <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    [disabled]="searchForm.invalid"
                  >
                    <mat-icon>search</mat-icon> Buscar
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    (click)="resetForm()"
                    style="margin-left: 5px;"
                  >
                    <mat-icon>delete_sweep</mat-icon> Limpiar
                  </button>
                  <button
                    mat-raised-button
                    *ngIf="items.length > 0"
                    type="button"
                    (click)="download()"
                    style="margin-left: 5px;"
                  >
                    <mat-icon>cloud_download</mat-icon> Descargar Excel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 mb-4">
      <app-alert></app-alert>
      <app-table-view
        #tableView
        [items]="items"
        [columns]="columns"
        [limit]="pageSize"
      ></app-table-view>
    </div>
  </div>
</div>
