<div class="edit-user-container">
  <h3 mat-dialog-title>Editar Usuario</h3>
  <form [formGroup]="editUserForm" (ngSubmit)="save()">
    <div mat-dialog-content>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input
            type="text"
            matInput
            placeholder="Usuario"
            arial-label="Usuario"
            formControlName="username"
            readonly
          />
          <mat-error *ngIf="editUserForm.get('username').hasError('required')"
            >Campo Status es Requerido</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombre"
            arial-label="Nombre"
            formControlName="name"
            readonly
          />
          <mat-error *ngIf="editUserForm.get('name').hasError('required')"
            >Campo Status es Requerido</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            placeholder="Email"
            arial-label="Email"
            formControlName="email"
          />
          <mat-error *ngIf="editUserForm.get('email').hasError('required')"
            >Campo Email es Requerido</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Estatus</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let item of statusList" [value]="item.Id">
              {{ item.Value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editUserForm.get('status').hasError('required')"
            >Campo Status es Requerido</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p *ngIf="errorText" style="color:red;">{{ errorText }}</p>
      </div>
    </div>
    <div mat-dialog-actions>
      <button
        class="text-center"
        mat-raised-button
        mat-dialog-close
        color="default"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="editUserForm.invalid"
      >
        <mat-icon>save</mat-icon> Guardar
      </button>
    </div>
  </form>
</div>
