<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
    <hr />
    <form
      [formGroup]="searchForm"
      #ngSearchForm="ngForm"
      (ngSubmit)="doSearch()"
      novalidate
    >
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="startPicker"
              placeholder="Fecha Inicial"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            <mat-error *ngIf="searchForm.get('startDate').hasError('required')"
              >Campo Fecha es Requerido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-3">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="endPicker"
              placeholder="Fecha Final"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error *ngIf="searchForm.get('endDate').hasError('required')"
              >Campo Fecha es Requerido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 mt-2">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="searchForm.invalid"
          >
            <mat-icon>search</mat-icon> Buscar
          </button>
          <button
            mat-raised-button
            type="button"
            (click)="resetForm()"
            color="default"
            style="margin-left: 5px;"
          >
            <mat-icon>delete_sweep</mat-icon> Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
