<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
    <hr>
    <form [formGroup]="searchForm" #ngSearchForm="ngForm" (ngSubmit)="doSearch()" novalidate>
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-2">
          <mat-form-field>
            <mat-label>Año:</mat-label>
            <mat-select formControlName="year">
              <mat-option *ngFor="let item of years" [value]="item.id">{{item.value}}</mat-option>                  
            </mat-select>                           
            <mat-error *ngIf="searchForm.get('year').hasError('required')">Campo Año es Requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3 col-xl-2">
          <mat-form-field>
            <mat-label>Mes:</mat-label>
            <mat-select formControlName="month">
              <mat-option *ngFor="let item of months" [value]="item.id">{{item.value}}</mat-option>
            </mat-select>
            <mat-error *ngIf="searchForm.get('month').hasError('required')">Campo Mes es Requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 mt-2">
          <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.invalid">
            <mat-icon>search</mat-icon> Buscar
          </button>
          <button mat-raised-button type="button" (click)="doReset()" color="default" style="margin-left: 5px;"><mat-icon>delete_sweep</mat-icon> Limpiar</button>
        </div>
      </div> 
    </form>     
  </div>
</div>